/**
 * This theme was generously provided by the Scalar team to be used in our Scalar UI.
 *
 * Go give them a shout out at https://scalar.com and https://twitter.com/scalar
 */

/* basic theme */
:root {
  --theme-text-decoration: underline;
}
.light-mode .dark-mode,
.light-mode {
  --theme-background-1: #fff;
  --theme-background-2: #f6f6f7;
  --theme-background-3: #eff0f3;
  --theme-background-accent: #8ab4f81f;

  --theme-color-1: rgba(60, 60, 67);
  --theme-color-2: rgba(60, 60, 67, 0.78);
  --theme-color-3: rgba(60, 60, 67, 0.56);
  --theme-color-accent: hsl(7, 23%, 62%);
  --theme-border-color: rgb(229 231 235);

  --theme-color-green: #069061;
  --theme-color-red: #ef4444;
  --theme-color-yellow: rgb(245 158 11);
  --theme-color-blue: rgb(29 78 216);
  --theme-color-orange: #fb892c;
  --theme-color-purple: rgb(109 40 217);

  --theme-button-1: hsl(7, 43%, 42%);
  --theme-button-1-hover: hsl(7, 23%, 62%);
  --theme-button-1-color: white;

  --sidebar-indent-border: var(--theme-border-color);
  --sidebar-indent-border-hover: var(--theme-border-color);
  --sidebar-indent-border-active: var(--theme-color-accent);
}

.dark-mode {
  --theme-background-1: #1b1b1f;
  --theme-background-2: #282a2f;
  --theme-background-3: #272f3b;
  --theme-background-accent: #8ab4f81f;

  --theme-color-1: rgba(255, 255, 245, 0.86);
  --theme-color-2: rgba(235, 235, 245, 0.6);
  --theme-color-3: rgba(235, 235, 245, 0.38);
  --theme-color-accent: hsl(7, 23%, 62%);

  --theme-border-color: rgba(255, 255, 255, 0.1);

  --theme-color-green: #069061;
  --theme-color-red: #f87171;
  --theme-color-yellow: rgb(253 230 138);
  --theme-color-blue: #60a5fa;
  --theme-color-orange: #fb892c;
  --theme-color-purple: rgb(221 214 254);

  --theme-button-1: hsl(7, 43%, 42%);
  --theme-button-1-hover: hsl(7, 23%, 62%);
  --theme-button-1-color: white;

  --sidebar-indent-border: var(--theme-border-color);
  --sidebar-indent-border-hover: var(--theme-border-color);
  --sidebar-indent-border-active: var(--theme-color-accent);
}
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --sidebar-background-1: var(--theme-background-2);
  --sidebar-color-1: var(--theme-color-1);
  --sidebar-color-2: var(--theme-color-2);
  --sidebar-border-color: transparent;

  --sidebar-item-hover-background: transparent;
  --sidebar-item-hover-color: var(--theme-color-accent);

  --sidebar-item-active-background: transparent;
  --sidebar-color-active: var(--theme-color-accent);

  --sidebar-search-background: transparent;
  --sidebar-search-color: var(--theme-color-3);
  --sidebar-search-border-color: var(--theme-border-color);
}
.dark-mode .t-doc__sidebar {
  --sidebar-background-1: #161618;
}

/* extra custom stuff for kita */
.scalar-card .request-card-footer {
  --theme-background-3: var(--theme-background-2);
}
.dark-mode .scalar-card {
  --theme-background-2: #161618;
}
