name: Code CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Build and test code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node and restore cached dependencies
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org/'

      - name: Install packages
        run: yarn

      - name: Build
        run: yarn build

      - name: Link kita binary
        run: npm i -g
        working-directory: packages/cli

      - name: Test
        run: yarn workspace @kitajs/tests test

      - name: Publish to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
